h1 {
    text-align: center;
    color: black;  
}

body {
  color: blue;
  background-color: grey;
} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
  background-image: url('grey_gecko.webp');
  background-repeat: space;
}
