h1 {
    text-align: center;
    color: black;  
}

body {
  color: blue;
  background-color: grey;
} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  background-image: url('grey_gecko.webp');
  background-repeat: no-repeat;
}
